.endless {
  color: #000;
  font-family: Raleway;
  font-size: 215.656px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  display: block;
  margin-left: 10%;
  margin-top: 15%;
}
.possibilities {
  color: #000;
  font-family: Raleway;
  font-size: 215.656px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  display: block;
  margin-left: 20%;
}

.where {
  position: absolute;
  font-family: Poppins;
  font-size: 68.728px;
  font-style: normal;
  font-weight: 400;
  line-height: 97.5%;
  color: #008fa0;
  display: block;
  margin-left: 30%;
}
.imagination {
  position: absolute;
  font-family: Poppins;
  font-size: 68.728px;
  font-style: normal;
  font-weight: 400;
  line-height: 97.5%;
  color: #008fa0;
  display: block;
}
.conquers {
  position: absolute;
  font-family: Poppins;
  font-size: 68.728px;
  font-style: normal;
  font-weight: 400;
  line-height: 97.5%;
  color: #008fa0;
  display: block;
}

.phone {
  position: absolute;
  margin-top: -70%;
  left: 25%;
  transform: scale(0.5);
  z-index: 2;
}
.airplane img {
  position: absolute;
  margin-top: 5%;
  left: 25%;
  transform: scale(1);
  z-index: 2;
}
.blue-text {
  color: #008FA0;
}
.dare {
  position: absolute;
  color: #000;
  font-family: Raleway;
  font-size: 74.004px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  display: block;
  margin-left: 60%;
  margin-top: 56%;
  max-width: 100%;
}
.you {
  position: absolute;
  color: #000;
  font-family: Raleway;
  font-size: 74.004px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  display: block;
  margin-left: 54%;
  margin-top: 61%;
  max-width: 100%;
}
.phone2{
  position: absolute;
  transform: scale(0.5);
  margin-top: 45%;
  margin-left: -12%;
}
.scuba{
  position: absolute;
  transform: scale(0.44);
  margin-top: 65%;
  margin-left: 4%;
  z-index: 2;
}
.scuba-image{
  border-radius: 5%;
}
.scene1-image{
  position: absolute;
  transform: scale(0.7);
  margin-left: 33%;
  z-index: 3;
  border-radius: 5%;
  margin-top: 103%;
}
.scene2-image{
  position: absolute;
  transform: scale(0.14);
  border-radius: 5%; 
  margin-top: 26%;
  margin-left: -59%;
  z-index: 1;
}
.explore{
  position: absolute;
  color: #000;
  font-family: Raleway;
font-size: 48.26px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin-left: 61% ;
margin-top: 68%;
}
.of{
  position: absolute;
  color: #000;
font-family: Raleway;
font-size: 48.26px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin-left: 63%;
margin-top: 72%;
}
.plans{
  position: absolute;
  color: #000;
  font-family: Raleway;
  font-size: 48.26px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-left: 60%;
  margin-top: 76%;
}
.connecting{
  position: absolute;
  color: #000;
  font-family: Raleway;
  font-size: 74.004px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  display: block;
  margin-top: 150%;
  margin-left: 16%;
}
.join{
  position: absolute;
  color: #000;
font-family: Raleway;
font-size: 48.26px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin-top: 160%;
margin-left: 27%;
}
.from{
  position: absolute;
  color: #000;
font-family: Raleway;
font-size: 48.26px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin-top: 164%;
margin-left: 25%;
}
.people1-image{
  position: absolute;
  transform:  scale(0.13);
  margin-left: -115%;
  margin-top: 101.7%;
  z-index: 2;
  border-radius: 5%;
}
.people2-image{
  position: absolute;
  transform: scale(0.43);
  margin-top: 165%;
  margin-left: 5%;
  z-index: 1;
  border-radius: 5%;
}
.people3-image{
  position: absolute;
  transform: scale(0.83);
  margin-top: 200%;
  margin-left: 15%;
  z-index: 2;
  border-radius: 5%;
}
.phone3{
  position: absolute;
  transform: scale(0.5);
  margin-left: 50%;
  margin-top: 145%;
  z-index: 3;
}
/* Media query for responsiveness */

@media screen and (min-width: 320px) and (max-width: 480px){
  .endless,
  .possibilities {
    font-size: 70px; 
    margin-left: 5%;
    max-width: 100%;
  }
  .phone {
    transform: scale(0.15);
    max-width: 100%;
    margin-left: -30%;
    margin-top: -237%; 
  }
  .airplane img {
    transform: scale(0.6);
    max-width: 100%;
    margin-left: -25%;
    margin-top: -25%; 
  }
  .quote-2{
    margin-top: 20%;
    margin-left: 9%;
  }
  .dare{
  font-size: 215%;
  margin-left: 5%;
  max-width: 100%;
  margin-top: 35;
  }
  .you{
    font-size: 215%;
  margin-left: 1%;;
  max-width: 100%;
  margin-top: 65%;
  }
  .phone2 {
    transform: scale(0.2);
    margin-left: -60%;
    margin-top: -57%;
  }
  .explore{
    font-size: 175%;
    white-space: nowrap;
    max-width: 100%;
    margin-left: 12%;
    margin-top: 80%;
  }
  .of{
    font-size: 175%;
    white-space: nowrap;
    margin-left: 16%;
    margin-top: 87%;
    max-width: 100%;
  }
  .plans{
    font-size: 175%;
    white-space: nowrap;
    margin-left: 9%;
    margin-top: 94%;
    max-width: 100%;
  }
  .scuba{
    transform:  scale(0.18);
    max-width: 100%;
    margin-left: -40%;
    margin-top: 80%;
  }
  .scene1{
    transform: scale(0.4);
    margin-left: -3%;
    max-width: 100%;
    margin-top: 163%;
  }

  .scene2{
    transform: scale(0.6);
    max-width: 100%;
    margin-left: -242%;
    margin-top: -65%;
  }
  .connecting{
    font-size: 140%;
    white-space: nowrap;
    margin-left: 4%;
    margin-top: 300%;
    max-width: 100%;
  }
  .join{
    font-size: 110%;
    max-width: 100%;
    margin-top: 310%;
    margin-left: 14%;
  }
  .from{
    font-size: 110%;
    white-space: nowrap;
    margin-top: 316%;
    margin-left: 11%;
    max-width: 100%;
  }
  .people1-image{
    transform: scale(0.05);
    margin-left: -496%;
    margin-top: 5%;
  }
  .people2-image{
    transform: scale(0.15);
    margin-left: -113%;
    margin-top: 253%;
  }
  .people3-image{
    transform: scale(0.32);
    margin-left: -30%;
    margin-top: 332%;
  }
  .phone3{
    transform: scale(0.2);
    margin-left: -57%;
    margin-top: 80%;
  }

}
@media screen and (min-width: 481px) and (max-width: 768px)  {
  .endless,
  .possibilities {
    font-size: 100px; 
    margin-left: 5%;
  }
  .phone {
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1); 
    margin-top: -10%; 
  }
  .airplane img {
    left: 50%; 
    transform: translate(-50%, -150%) scale(0.8); 
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .endless,
  .possibilities {
    font-size: 150px; 
    margin-left: 10%;
  }
  .phone {
    left: 50%; 
    transform: translate(-50%, -50%) scale(0.3); 
    margin-top: -18%; 
  }
  .airplane img {
    margin-left: -17%; 
    transform: scale(0.6); 
    margin-top: -10%; 
  }
  .dare{
    transform: scale(1.5); 
    margin-left: 26%;
    max-width: 100%;
    margin-top: 140%;
  }
  .you{
    transform: scale(1.5); 
    margin-left: 13%;
    max-width: 100%;
    margin-top: 154%;
  }
  .quote-2 {
    transform: scale(0.5);
    margin-left: -10%;
}
.explore{
  max-width: 100%;
  white-space: nowrap;
  font-size: 250%;
  margin-top: 94%;
  margin-left: 20%;
}
.of{
  max-width: 100%;
  white-space: nowrap;
  font-size: 250%;
  margin-top: 100%;
  margin-left: 20%;
}
.plans{
  max-width: 100%;
  white-space: nowrap;
  font-size: 250%;
  margin-top: 106%;
  margin-left: 20%;
}
.phone2 {
  transform: scale(0.35);
  margin-left: 0%;
  margin-top: 50%;
}
.scuba-image {
  transform: scale(0.81);
  margin-top: 81%;
  margin-left: -74%;
}
.scene1-image{
transform: scale(0.57);
margin-top: 166%;
margin-left: 32%;
}
.scene2-image{
transform: scale(0.17);
margin-top: 110%;
margin-left: -191%;
}
.connecting{
  font-size: 300%;
  white-space: nowrap;
  max-width: 100%;
  margin-left: 3%;
  margin-top: 280%;
}
.join{
  font-size: 270%;
  white-space: nowrap;
  max-width: 100%;
  margin-left: 9%;
  margin-top: 293%;
}
.from{
  font-size: 270%;
  white-space: nowrap;
  max-width: 100%;
  margin-left: 6%;
  margin-top: 300%;
}
.people1-image{
  transform: scale(0.09);
  margin-left: -224%;
  margin-top: 235%;
  z-index: 3;
}
.people2-image{
  transform: scale(0.3);
  margin-top: 352%;
  margin-left: -20%;
  z-index: 2;
}
.people3-image{
  transform: scale(0.6);
  margin-top: 405%;
  margin-left: 10%;
}
.phone3{
  transform: scale(0.35);
  margin-top: 250%;
  margin-left: -1%;
  z-index: 1;
}
}
@media screen and (min-width: 1024px) and (max-width: 1200px){
  .endless,
  .possibilities {
    font-size: 150px; 
    margin-left: 20%;
  }
  .phone {
    left: 15%; 
    transform:  scale(0.3); 
    margin-top: -90%; 
  }
  .airplane img {
    left: 20%; 
    transform:  scale(0.6); 
    margin-top: -12%; 
  }
  .dare{
    transform: scale(1.5); 
    margin-left: 30%;
    margin-top: 95%;
  }
  .you{
    transform: scale(1.5); 
    margin-left: 32%;
    margin-top: 108%;
  }
  .quote-2 {
    transform: scale(0.5);
    margin-left: 14%;
    max-width: 100%;
    margin-top: 2%;
}
.explore{
  transform: scale(0.8);
  white-space: nowrap;
  margin-left: 40%;
  margin-top: 53%;
}
.of{
  transform: scale(0.8);
  white-space: nowrap;
  margin-left: 41%;
  margin-top: 58%;
}
.plans{
  transform: scale(0.8);
  white-space: nowrap;
  margin-left: 40%;
  margin-top: 63%;
}
.phone2 {
  transform: scale(0.4);
  margin-left: -20%;
  margin-top: 10%;
}
.scuba-image {
  transform: scale(0.7);
  margin-left: -30%;
  margin-top: -40%;
}
.scene1-image{
  transform: scale(0.5);
  margin-left: 30%;
  margin-top: 76%;
}
.scene2-image{
  transform: scale(0.12);
  margin-left: -98%;
  margin-top: -10%;
}
.connecting{
  transform: scale(0.8);
  white-space: nowrap;
  margin-left: 1%;
  margin-top: 130%;
}
.join{
  transform: scale(0.8);
  margin-left: 19%;
  margin-top: 140%;
}
.from{
  transform: scale(0.8);
  margin-left: 16.5%;
  margin-top: 144%;
}
.people1-image{
  transform: scale(0.1);
  margin-left: -155%;
  margin-top: 59%;
}
.people2-image{
  transform: scale(0.3);
  margin-left: -10%;
  margin-top: 140%;
}
.people3-image{
  transform: scale(0.6);
  margin-top: 176%;
  margin-left: 10%;
}
.phone3{
  transform: scale(0.39);
  margin-left: 47%;
  margin-top: 115%;
}
}
@media screen and (min-width: 1620px){
  .phone{
    margin-top: -64%;
  }
  .scene1-image{
    margin-top: 97%;
  }
  .scene2-image{
    transform: scale(0.19);
    margin-left: -46%;
    margin-top: 30%;
  }
  .connecting{
    margin-top: 140%;
  }
  .join{
    margin-top: 150%;
  }
  .from{
    margin-top: 154%;
  }
  .people1-image{
    margin-left: -103%;
    margin-top: 105%;
  }
  .people2-image{
    margin-top: 161%;
  }
  .people3-image{
    margin-left: 13%;
    margin-top: 192%;
  }
}